.medium {
    font-weight: 500;
}
.colorYellow {
    color: #FBB040;
}
.text20 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
.text16 {
    font-size: 16px;
}
.text14{
    font-size: 14px;
}
.mb15 {
    margin-bottom: 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
.ml5 {
    margin-left: 5px;
}
.mr5 {
    margin-right: 5px;
}
.colorGreen {
    color: #81BE33;
}

/*=========================================================================================*/
@media (min-width: 1200px){
    .footer-content__col {
        width: 20%;
    }
    .footer-content__col:first-child{
        width: 25%;
    }
    .flightPayment__bg {
         padding: 60px 30px 130px;
     }
    .flightPayment__title {
        font-size: 30px;
    }
    .flightPayment__text {
        padding: 0 30px 30px;
    }
    .flightPayment__list {
        margin-top: 2.5vw;
    }
    .flightPayment__list li {
        padding: 0 30px;
    }
}
@media (min-width: 768px){
    .box-title p{
        font-size: 20px;
    }
    .form-checkout,.box-title,.fly-review__itinerary,.fly-review__price,.fly-review__baggage,.fly-review__adult{
        border-radius: 8px 8px 0 0;
    }
    .fly-checkout__btn .btn{
        font-size: 16px;
    }
    .footer-content__col {
        padding: 15px 10px;
    }
    .footer-content{
        flex-wrap: nowrap;
    }
    .fly-home__search .home-search{
        width: 430px;
        border-radius: 8px;
    }
    .fly-header .navbar-nav .nav-item.active .nav-link{
        border-radius: 4px;
    }
    .booking-box__btn{
        border-radius: 8px 8px 0 0;
    }
    .flightPayment__list {
        display: flex;
        justify-content: center;
    }
}
/*============================================================================================*/




.flightPayment__bg.failed {
    background-color: #FFE7DC;
}
.flightPayment__reason__collapse {
    display: none;
}
.flightPayment__reason__cont {
    text-align: left;
    display: flex;
    justify-content: center;
    padding: 15px 15px 0;
}
.formBox__body {
    background: #FFF;
    box-shadow: 0 0 8px rgba(0,0,0,.15);
    border-radius: 0 0 4px 4px;
    padding: 15px;
}
.fly-review__tou{
    margin-bottom: 30px;
}
.formBox__term::-webkit-scrollbar {
    width: 5px;
}
.formBox__term::-webkit-scrollbar-thumb {
    background: #2589b5;
    border-radius: 16px;
}
.formBox__term p.title {
    font-size: 16px;
    font-weight: 500;
}
.formBox__term p {
    margin-bottom: 15px;
    color: rgba(0,0,0,.85);
}
.formBox__term {
    max-height: 300px;
    margin-right: -15px;
    padding-right: 15px;
}
.formBox__term, .suggestion {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.flightPayment__link p, .flightPayment__list li p {
    color: rgba(0,0,0,.55);
}
.flightPayment__list {
    margin-top: 30px;
}
button {
    border: none;
    background: 0 0;
    padding: 0;
}
.flightPayment__box {
    background: #FFF;
    border-radius: 4px;
    margin-bottom: 15px;
}
.flightPayment__text {
    text-align: center;
    padding: 0 15px 30px;
}
.viewMore {
    font-size: 14px;
}
.viewMore, .viewMore:hover {
    color: #318FDB;
}
.faq__item, .fareRules table, .flightPayment__box, .homeServices__card, .homeServices__item, .newAndUpdate__item {
    box-shadow: 0 0 30px rgba(0,0,0,.15);
}
.flightPayment__icon {
    text-align: center;
    margin-bottom: 15px;
    margin-top: -127px;
}
.flightPayment__title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 15px;
}
.flightPayment__price {
    margin: 15px 0;
}
.flightPayment__main {
    text-align: center;
}
.sidebar{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
}
.fly-list__btn .btn,.fly-checkout__btn .btn{
    display: inline;
}
.flightPayment__bg.success {
    background-color: #F5FDDA;
}

.flightPayment__bg {
    padding: 60px 15px 130px;
}
.booking-info__btn a{
    font-size: 22px;
    border-radius: 0 0 8px 8px;
}
.booking-box__dropdown{
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
}
.offers-item{
    border-radius: 8px;
}
.deal-item__img img{
    border-radius: 8px 8px 0 0;
}
.flightPayment {
    margin: 50px 0;
}
.home-search__btn .btn{
    display: flex;
    align-items: center;
}
.footer-title{
    text-transform: unset;
}
.footer-title{
    font-size: 16px;
}
.footer-group{
    display: flex;
    align-items: center;
    margin: 0 -15px;
}
.footer-group img{
    width: 24px;
}
.form-control{
    border-radius: 8px;
}
.footer-card{
    align-items: center;
}
.footer-group > ul{
    padding: 0 7px;
}
.footer-group > ul:last-child {
    border-left: 1px solid #8090DD;
}
.form-group>label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}
.fareRules__main {
    margin: 32px 0;
}
.head1 td:first-child {
    padding: 0 53px;
}
.fareRules table .green1 {
    background: #2589b5;
}
.formBox__frequent>button span, .formBox__frequent>button svg, .formBox__tip span, .formBox__tip svg, .head1 td:first-child {
    vertical-align: middle;
}
.fareRules table thead {
    color: #fff;
}
.fareRules table {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin: 40px 0;
}
.head1 td:last-child {
    padding: 10px 0;
}
.footer-subs__nav li a{
    background: unset;
    color: #fff;
    display: unset;
    padding: 0;
    margin-bottom: 5px;
}
.footer-subs__nav li {
    display: block;
    padding: 5px 0;
}
.fareRules table .green3 {
    background: #2589b5;
}
.fareRules table .green4 {
    background: #2589b5;
}
.fareRules table .green5 {
    background: #2589b5;
}
.fareRules table tbody td {
    padding: 15px;
}
.fareRules__cont p {
    margin-bottom: 15px;
}
.fa-fw, .fa-li, .fa-stack-1x, .fa-stack-2x, .slick-dots, .textCenter {
    text-align: center;
}
.head2 td {
    padding: 40px 0;
    width: 20%;
}
.fareRules table .green2 {
    background: #2589b5;
}
.fareRules table thead td {
    border: 1px solid #fff;
    border-collapse: collapse;
}
.head1 td {
    font-weight: 500;
}
.fareRules table, .fareRules td, .fareRules th {
    border: 1px solid rgba(0,0,0,.15);
    border-collapse: collapse;
}
.alert-sm {
    width: 70%;
    padding: 8px 15px;
}
.bookingChange__main, .refundRequest__main {
    width: 752px;
    margin: auto;
    padding: 32px 0;
}
.btn.btn-orange {
    color: #fff;
    background-color: #EA6200;
    border-color: #EA6200;
}
.btn {
    border-radius: 4px;
    transition: all .15s;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    height: 40px;
    padding: 0 15px;
}
.bookingChange__btn, .bookingStatus__btn, .refundRequest__btn {
    text-align: right;
}
.flexGroup2 {
    display: flex;
    align-items: center;
}
.fly-setting__left,.fly-setting__right{
    width: 100%;
}
.bookingStatus__main {
    width: 752px;
    margin: auto;
    padding: 32px 0;
}
.fly-setting__row{
    display: block;
}
.homeBanner__backdrop {
    background: rgba(0,0,0,.45);
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fly-setting{
    padding: 0;
}
.favouriteDes__link a:first-child {
    padding-right: 8px;
}
.favouriteDes__link {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0;
}
.favouriteDes__link a+a {
    border-left: 1px solid rgba(0,0,0,.25);
    padding: 0 8px;
}
.favouriteDes__cont h5, .favouriteDes__cont img, .favouriteDes__cont p {
    margin-bottom: 24px;
}
.favouriteDes__link a {
    margin-bottom: 8px;
}
.homeBanner__cont h2 {
    font-size: 46px;
}
.homeBanner__cont p {
    font-size: 20px;
}
.homeBanner__cont {
    width: 100%;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.homeBanner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 256px;
    padding-top: 50px;
    position: relative;
}
.homeBanner {
    height: 323px;
    padding-top: 70px;
}
.colorWhite {
    color: #fff;
}
.medium{
    font-weight: 600;
}
.aboutUs__cont{
    margin: 35px auto;
}
.faq__body {
    margin: 35px 0;
}
.contactUs__cont {
    max-width: 650px;
    margin: 35px auto;
}
.faq__item, .fareRules table, .flightPayment__box, .homeServices__card, .homeServices__item, .newAndUpdate__item {
    box-shadow: 0 0 30px rgba(0,0,0,.15);
}
.faq__cont {
    margin: 0 15px;
    padding-bottom: 15px;
}
.faq__cont p {
    padding: 0 15px;
    border-left: 1px solid #EA6200;
}
.privacyPolicy__body{
    margin: 35px 0;
}
.termOfUse__title,.privacyPolicy__title {
    margin: 20px 0;
}
.favouriteDes__main {
    margin: 32px 0;
}
.termOfUse__cont p,.privacyPolicy__cont p{
    margin-bottom: 12px;
}
.newAndUpdate__body {
    margin: 35px 0;
}
.faq__title {
    padding: 15px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq__item {
    margin-bottom: 25px;
    border-radius: 4px;
}
.sidebar__item.active .sidebar__link{
    border-radius: 0;
    background-color: unset;
}
.sidebar__link{
    font-size: 14px;
}
.sidebar__item{
    border-bottom: 1px solid rgba(0,0,0,.15);
}
.sidebar{
    margin-top: 10px;
    background-color: unset;
}
.sidebar__item.active .sidebar__link{
    border-bottom: 3px solid #FBB040;
}
.sidebar__link{
    color: #000;
    font-weight: 600;
}
body{
    background-color: #f1f1f1;
}
.deal-item__price{
    border-radius: 0 0 0 8px;
}
::marker {
    color: #fff;
}
.deal-item__read{
    border-radius: 0 0 8px 0;
}
.form-control{
    border: 1px solid rgba(0,0,0,.15);
}
.fly-setting__btn{
    text-align: right;
}
.fly-setting__btn .btn {
    border-radius: 4px;
}
.fly-question__form .form-group select.form-control {
    width: 100%;
}
.sidebar__link:hover{
    border-bottom: 3px solid #FBB040;
    color: #000;
    text-decoration: unset;
}